<section>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Add Banner</h2>
                <form action="/bigwig/add-banner" enctype="multipart/form-data" method="POST">
                    <label for="">Heading</label>
                    <input type="text" name="Name" class="form-control" required>

                      <label for="">Sub Heading (Optional)</label>
                    <input type="text" name="Sheading" class="form-control">

                    <label for="">Path</label>
                    <input type="text" name="Path" class="form-control" required>

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control" required>

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                     <a href="/bigwig/all-banner" type="submit" class="btn btn-danger mt-4">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>