<section>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Add Offers</h2>
                <form action="/bigwig/add-offer" enctype="multipart/form-data" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" required>

                   <label for="">Category</label>
                     <select class="form-control" name="ParentCat">
                        <option value="Single">Select Category</option>
                     {{#each category}}
                        <option value="{{this.Name}}">{{this.Name}}</option>
                       {{/each}}

                    </select>

                    <label for="">Offere Price</label>
                    <input type="text" name="Offer" class="form-control" required>

                    <label for="">Original Price</label>
                    <input type="text" name="Price" class="form-control" required>


                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control" required>

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control" required>

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                   <a href="/bigwig/all-products" type="submit" class="btn btn-danger mt-4">Cancel</a>

                </form>
            </div>
        </div>
    </div>
</section>