
<style>
  .test{
    padding-bottom: 80%;
  }
</style>

  <div class="test bg-primary pt-5" style="overflow: hidden;">
    <center>
      <div class="hero-block-content"><img class="mb-4" src="img/icons/maint.svg" alt="">
        <h5 class="display-6 text-white">Forskor 404</h5>
        <p class="text-white">Unexpected error occured.</p>

      </div>
      <div class="dot-loader">
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
      </div>
    </center>
  </div>