    <body style="background-color: #205e54 ;">
    <!-- Hero Block Wrapper-->
      <!-- Styles-->
      {{!-- <div class="hero-block-styles">
        <div class="hb-styles1" style="background-image: url('img/core-img/dot.png')"></div>
        <div class="hb-styles2"></div>
        <div class="hb-styles3"></div>
      </div> --}}
      <br><br>

      <div class="container bg-primary">                   
        <!-- Skip Page-->
        {{!-- <div class="skip-page"><a href="/home">Skip</a></div> --}}
        <!-- Hero Block Content-->
        <center><div class="hero-block-content"><img class="mb-4" src="img/icons/maint.svg" alt="">
          <h5 class="display-6 text-white">Forskor is currently down for maintenance.</h5>
          <p class="text-white">We expect to back in a couple hours. Thanks for your patience.</p>

        </div>
        <div class="dot-loader">
<div class="dot1"></div>
<div class="dot2"></div>
<div class="dot3"></div>
</div>
        </center>
      </div>
</body>