
<br><br><br>
<!-------->  <div class="" data-js="hero-demo">

   <!-------->  <div class="filters">
      <button class="btn btn-primary is-checked" data-filter="*">show all</button>
      <button class="btn btn-primary" data-filter=".metal">metal</button>
      <button class="btn btn-primary" data-filter=".pooda">transition</button>
      <button class="btn btn-primary" data-filter="ium">&#x2013;ium</button>

      



  <div class="grid">
      <div class="element-item pooda metal " data-category="pooda">
     <img src="img/icons/cart.svg" width="20%">
      </div>
      <div class="element-item metalloid " data-category="metalloid">
          <img src="img/icons/man.png" width="20%">
      </div>
      <div class="element-item post-transition metal " data-category="post-transition">
            <img src="img/icons/order.svg" width="20%">
      </div>
  
   
      
    
  </div>


</div>


</div> 


