<br><br><br><br>
<style>
    .li2 {
        list-style: disc;
    }
</style>

<div class="container-lg">
    <div class="card">
        <div class="card-body">

            <h4><b>Shipping & Delivery Policy</b></h4>
            <p>For Customers, orders are shipped and delivered through the Delivery Boys to the address. Orders are
                shipped within 50 Minutes When the Food is Ready. FORSKOR GROUP is liable for any Damage in delivery by
                the Delivery and guarantees to hand over the Food to the Customer within 120 Minutes from the Time of
                the order and payment or as per the delivery Time agreed at the time of order confirmation. Delivery of
                all orders will be to the address provided by the Customer. Delivery of our services will be confirmed
                on your mail ID as specified during registration. For any issues in utilizing our services you may
                contact our helpdesk on <a href="tel:+918095544044">8095544044</a> or <a
                    href="mailto:forskorgroup@gmail.com">forskorgroup@gmail.com</a>.</p>


        </div>
    </div>
</div>
<br><br><br>