    <!-- Hero Block Wrapper-->
    <div class="hero-block-wrapper bg-primary">
      <!-- Styles-->
      <div class="hero-block-styles">
        <div class="hb-styles1" style="background-image: url('img/core-img/dot.png')"></div>
        <div class="hb-styles2"></div>
        <div class="hb-styles3"></div>
      </div>
      <div class="container">                   
        <!-- Skip Page-->
        <div class="skip-page"><a href="/home">Skip</a></div>
        <!-- Hero Block Content-->
        <div class="hero-block-content"><img class="mb-4" src="img/food/img1.svg" alt="">
          <h2 class="display-4 text-white mb-3">Welcome To ForSkor</h2>
          <p class="text-white"></p>
          <a class="btn btn-lg btn-outline-light w-100 mb-3" href="/signin">Login</a>

          <a class="btn btn-warning btn-lg w-100" href="/home">Login as guest</a>
        </div>
      </div>
    </div>